<% include ../partials/header %>
<% include ../partials/nav %>

<div id="dialog" title="Email already used">
  <p>Please sign in.</p>
</div>

<div class="container">

  <div class='signup-1'>
    <div class="row">

      <h1>Sign Up for a <strong>Lunch Break Ninja</strong> Account</h1>
      <% include ../partials/alerts.ejs %>
      <h3 class='center'>Step 1 of 2</h3>
<a id='fb-login' href="/auth/login/facebook">Login with Facebook</a>
      <div class="col-md-6 col-md-offset-3">
        <form id='signup-form-1' method='post' class='signup-form' action='/auth/signup'>
          <div class="form-group">
            <label for="signup-email">Email address</label>
            <input name='email' type="email" class="form-control" id="signup-email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="signup-name">Name</label>
            <input name='name' type="text" class="form-control" id="signup-name" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label for="signup-pass">Password</label>
            <input name='password' type="password" class="form-control" id="signup-pass" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="signup-pass-conf">Confirm Password</label>
            <input type="password" class="form-control" id="signup-pass-conf" placeholder="Password">
          </div>
          <button id='singup-btn-1' type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <div class='signup-2'>
    <div class='row'>
      <div class="col-md-6 col-md-offset-3">

        <h1>What kind of restaurants do you enjoy?</h1>
        <p><em>Hint: The more types of restaurants you include in your profile, the better your Lunch Break Ninja experience will be. Go crazy! You can always change your prefernces later.</em></p>
        <h3 class='center'>Step 2 of 2</h3>
        <form  method='post' class='signup-form' action='/ninjitsu/categories'>
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <% for (var i = 0; i < Math.floor(categories.length / 2); i++ ) { %>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input class='cat-check' type="checkbox" name='category' value='<%= categories[i].id %>'> <%= categories[i].category %>
                    </label>
                  </div>
                </div>
              <% } %>
            </div>
            <div class="col-md-4 col-sm-4">

            <% for (var i = Math.floor(categories.length / 2); i < categories.length; i++ ) { %>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input class='cat-check' type="checkbox" name='category' value='<%= categories[i].id %>'> <%= categories[i].category %>
                    </label>
                  </div>
                </div>
              <% } %>

            </div>
          </div>

          <a href='/ninjitsu' class="btn btn-default">Submit</a>
        </form>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer %>