<div class="well well-sm">
  <div class="col-md-4 col-md-offset-4">
    <ul class='footer'>
      <li><a href='main/about'>About</a></li>
    </ul>
  </div>
  <p class='center'><a href="http://www.yelp.com"><img  src="/img/yelp.png"></a></p>
</div>
</body>
</html>