<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id='brand' class="navbar-brand" href="/"><span class="glyphicon glyphicon-cutlery"></span> LBN</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href='/ninjitsu'>Find Lunch</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if (loggedIn) { %>
          <ul class="navbar-brand user-name">
            <li>Hello <%= loggedIn.name %></li>
          </ul>
        <% } %>

        <% if (loggedIn) { %>

         <li class="dropdown">
          <a id="dLabel" class="dropdown navbar-btn btn btn-lg" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Profile <span class="caret"></span>
              </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href='/user/history'>History</a></li>
            <li><a href='/auth/categories'>Prefrences</a></li>
            <li><a href='/auth/logout' id='logout-btn' class="navbar-btn">Log Out</a></li>
          </ul>
        </li>
        <% } else {  %>
          <li><a type="button" data-toggle="modal" data-target="#myModal">Log In</a></li>
          <li><a href='/auth/signup' id='signup-btn' ><span class='glyphicon glyphicon-user'></span> Sign Up</a></li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- END OF NAVBAR -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
      </div>
      <div class="modal-body">
          <% include ../partials/alerts.ejs %>
          <form class="form" method="post" action="/auth/login">
              <input type="text" class="form-control" placeholder="Enter your e-mail" name="email">
              <br><br>
              <input type="password" class="form-control" placeholder="Choose a password" name="password">
              <br><br>
              <input type="submit" value="Sign In" class="btn btn-primary">
          </form>
          <hr>
          <div class='center'> <a href="/auth/login/facebook"><img src="/img/fb-log.png"></a></div>
      </div>
    </div>
  </div>
</div>
