<% include ./partials/header %>
<% include ./partials/nav %>
<div class="container">
  <div class="row">
    <h1>Oops. It looks like there's nothing here. </h1>
    <p>Either something happened that's not supposed to, or you traveled to a page that doesn't exist.</p>
    <p> Why don't you try clicking the 'Find Lunch' link above. That's always fun!</p>
  </div>
</div>
<% include ./partials/footer %>