<% include ./partials/header %>
<% include ./partials/nav %>
<% include ./partials/alerts.ejs %>
<div class=" row header-splash">
  <img class='image-responsive glass' src="/img/head.jpeg">
  <div class="title-pane">
  <h1 class='title-text'>Lunch Break Ninja</h1>
  </div>
</div>
<div class="container">
</div>

<% include ./partials/footer %>