/*#signup-btn {
  padding: 7px;
  color: white;
}*/

/*Global*/

.user-name {
  color: white;
  font-size: 1.2em;
  list-style: none;
}

/*Home Page*/
.title-pane {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 55%;
    /*left: 50%;*/
    width: 100%;

  z-index: 99;
}

.title-text {
  background-color: rgba(248, 247, 216, 0.7);
  text-shadow: 4px 4px 10px rgba(150, 150, 150, 0.69);
  top: 55%;
  /*left: 50%;*/
  text-align: right;
  width: 100%;
  position: absolute;
  font-size: 4em;
  font-weight: 700;
}

.glass {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}


.header-splash {
  background-image: url('../img/head.jpeg');
  max-height: 450px;
  overflow: hidden;
}

/*Results Page*/

.quote-img {
  padding-right: 20px;
}

.center {
  text-align: center;
}

h1 {
  text-align: center;
}

#map {
  height: 300px;
}

.yelp-rating {
  /*padding-left: 2.5%;*/
}

#small-jumbo {
  font-size: 0.8em;
  /*padding-left: 2.5%*/
}
/*Signup Pages*/
.buttons {
  display: inline;
}

.signup-form {
  background-color: lightgrey;
  border-radius: 10px;
  padding: 3%;
}


@media (min-width: 992px) {
  #eating-here-btn {
    margin-top: -40%;
    left: -15%;
    position: relative;
  }

  #try-again-btn {
    margin-top: -40%;
    left: -7%;
    position: relative;
  }
}



.jumbotron p {
  line-height: 1em;
  margin-left: 0;
  padding-left: 0;
}

.jumbotron li {
  list-style-type: none;
}
.signup-2 {
  display: none;
}
.result-info {

  margin-left: 5%;
  text-align: left;
}
#search-form {
  display: none;
}