<% include ../partials/header %>
<% include ../partials/nav %>
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>About LunchBreak.Ninja</h1>
    <h3>Contact me @ scbarrus [at] awayandaway [dot] com.</h3>
    <p>LunchBreak.Ninja is a web app created to remove the conversation, "Where do you want to eat?", "I dunno, where do you want to eat?". It was created by me, Cody Barrus. Hi :) I'm a web developer and an author and LunchBreak.Ninja was my first programming project since I learned Javascript and Node.js. If you don't know what that means, don't worry, you can still use LunchBreak.Ninja to find cool new places to eat, no thought required!</p>
    <p>If you do know what that means and you think that the person who developed LunchBreak.Ninja might know their stuff, then please drop me a line.</p>
    <p>Finally, if you're a user of LunchBreak.Ninja and you've noticed a little quirk here or there, feel free to let me know by emailing me. This is an ongoing project with the goal of becoming as useful as possible to any who wants to use it. Your bug report will mean a better service for all!</p>
    <h3>Look forward to these upcoming enhancements</h3>
    <ul>
      <li>Even better lunch results</li>
      <li>Improved history page</li>
      <li>Added search features</li>
      <li>Even more restaurant categories to choose from</li>
      <li>Plus more... have a suggestion, email me!</li>
    </ul>
  </div>

</div>
<% include ../partials/footer %>