<% include ../partials/header %>
<% include ../partials/nav %>
<div class="container">
  <div class="row">
    <h3>Current Version</h3>
    <p>v0.1</p>
    <ul>
      <li>fixed issues with facebook not allowing log in</li>
      <li>fixed issue with text covering 'Find Lunch' button on homepage when viewed on mobile</li>
      <li>fixed issue with menu not working on mobile</li>
    </ul>
  </div>
</div>

<% include ../partials/footer %>